:root {
    --naranja: #FF9933;
    --amarillo: #FFFF99;
    --morado: #FF33FF;
    --cian: #00E6E6;
    --verde: #66FF99;
    --rojo: #FF6666;
}

* {
    padding: 1px;
}

body {
    margin-left: 5%;
    margin-right: 5%;
}

/* En este css se encuentra el bloque de la barra de navegación, el resto en el html. */

.bloque_barra {
    margin: 15px;
    display: grid;
    background-color: var(--rojo);
    border: 2px solid black;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.bloque_barra section {
    width: 100%;
    display: flex;
    align-items: center;
}

.categorias {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.categorias:last-child {
    margin-right: 0;
}

.categorias:hover {
    background-color: red;
}

.categorias a {
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desplegables {
    background-color: ivory;
    display: none;
    position: absolute;
    width: 100%;
    border: 2px solid black;
    margin-left:-1px;
}

.desplegables a:hover {
    background-color: red;
}

.desplegables a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.categorias:hover .desplegables {
    display: block;
}