body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sudoku {
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
}

.row {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
}

.cell {
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
}